.dynamicInputVariable {
  background-color: #ebe9e950;
  :global(.ant-collapse-content) {
    background-color: #f6f6f657;
  }
  margin-bottom: 20px;
  
  @media (max-width: 1200px) {
    margin-bottom: 18px;
  }
  
  @media (max-width: 768px) {
    margin-bottom: 16px;
  }
  
  @media (max-width: 480px) {
    margin-bottom: 12px;
  }
  
  .title {
    font-weight: 600;
    font-size: 16px;
    
    @media (max-width: 768px) {
      font-size: 14px;
    }
  }
  .variableType {
    width: 30%;
    
    @media (max-width: 768px) {
      width: 100%;
      margin-bottom: 8px;
    }
  }
  .variableValue {
    flex: 1;
    
    @media (max-width: 768px) {
      width: 100%;
    }
  }

  .addButton {
    color: rgb(22, 119, 255);
    font-weight: 600;
    
    @media (max-width: 768px) {
      font-size: 14px;
    }
  }
}
