.forceContainer {
  width: 100%;
  height: 100%;
  overflow: hidden;
  
  @media (max-width: 768px) {
    height: calc(100vh - 120px);
  }
  
  :global(.tooltip) {
    border-radius: 10px !important;
  }
}
