.selectFilesCollapse {
  :global(.ant-collapse-header) {
    padding-left: 22px;

    @media (max-width: 768px) {
      padding-left: 18px;
    }
  }
  margin-bottom: 32px;
  overflow-y: auto;

  @media (max-width: 768px) {
    margin-bottom: 24px;
  }
}

.selectFilesTitle {
  padding-right: 10px;

  @media (max-width: 768px) {
    padding-right: 8px;
  }
}
