.sideBarWrapper {
  .version {
    color: rgb(17, 206, 17);
    font-size: 14px;

    @media (max-width: 1200px) {
      font-size: 13px;
    }

    @media (max-width: 768px) {
      font-size: 12px;
    }
    
    @media (max-width: 480px) {
      font-size: 11px;
    }
  }
}
