.languageItem {
  margin: 0;
  
  @media (max-width: 1200px) {
    font-size: 15px;
  }
  
  @media (max-width: 768px) {
    font-size: 14px;
  }
  
  @media (max-width: 480px) {
    font-size: 13px;
  }
  
  :global(.ant-select-selector) {
    background: transparent !important;
    border: none !important;
    box-shadow: none !important;
  }
  :global(.ant-select-selector:hover) {
    border: none !important;
    box-shadow: none !important;
  }
  :global(.ant-select-focused .ant-select-selector) {
    border: none !important;
    box-shadow: none !important;
  }
}
