.formWrapper {
  :global(.ant-form-item-label) {
    font-weight: 600 !important;
    
    @media (max-width: 1200px) {
      font-size: 15px;
    }
    
    @media (max-width: 768px) {
      font-size: 14px;
    }
    
    @media (max-width: 480px) {
      font-size: 13px;
    }
  }
  
  :global(.ant-form-item) {
    @media (max-width: 1200px) {
      margin-bottom: 18px;
    }
    
    @media (max-width: 768px) {
      margin-bottom: 16px;
    }
    
    @media (max-width: 480px) {
      margin-bottom: 14px;
    }
  }
}
